.first_main {
  background-color: royalblue;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.custom_border_row {
  border: 7px solid rgba(255, 179, 0, 0.919);
}
.back_arrow,
.info_btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn_common {
  background-color: rgba(255, 179, 0, 0.919);
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  box-shadow: 7px 10px 13px rgba(0, 0, 0, 0.775);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn_common:active {
  scale: 1.1;
}

.chip_img {
  height: 70px;
}
.num {
  position: absolute;
  z-index: 999;
  color: #fff;
  margin-top: 10px;
}
.slick-slide:not(.slick-center) {
  transform: scale(0.7);
  transition: transform 0.5s;
}
.rolet_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Add your existing CSS styles here */
.rolet1 {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 5px 0px 50px 10px rgba(255, 255, 255, 0.294);
}
.rolet2,
.rolet3,
.rolet4,
.rolet5 {
  position: absolute;
  height: 250px;
}

.rotate_text {
  font-size: 10px;
  transform: rotate(-90deg);
}
.rolet2.spinning {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ========== LEFT PART============ */

.tri_img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  background-position: center;
}
.common_btn2 {
  padding: 7px 20px;
  border-radius: 10px;
  background-color: rgb(87, 210, 255);
  border: none;
  font-weight: 500;
  box-shadow: 7px 10px 13px rgba(0, 0, 0, 0.775);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.common_btn2:active {
  scale: 1.1;
}
.for_phone {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.for_phone h3 {
  color: white;
}

@media (max-width: 992px) {
  .btn_common {
    font-size: 0.6rem;
    padding: 3px 5px;
  }
  .common_btn2 {
    font-size: 0.8rem;
    padding: 5px 10px;
  }
  .custom_border_row {
    border: 3px solid rgba(255, 179, 0, 0.919);
  }
  .back_arrow,
  .info_btn {
    height: 20px;
    width: 20px;
  }
  .rolet1 {
    height: 200px;
    width: 200px;
  }
  .rolet2,
  .rolet3,
  .rolet4,
  .rolet5 {
    height: 200px;
  }
}
@media (max-width: 600px) {
  .first_main {
    display: none;
  }
  .for_phone {
    display: flex;
  }
  .for_phone h1 {
    color: white;
  }
}
@media (max-width: 775px) {
  .rolet1 {
    height: 150px;
    width: 150px;
  }
  .rolet2,
  .rolet3,
  .rolet4,
  .rolet5 {
    height: 150px;
  }
}
